/* section clients */
.clients {
    @include section($indent: 60px);

    @include respond-to('large') {
           @include section($indent: 94px);
        }
      
    &__list {
        box-sizing: border-box;
        padding: 0;
        width: 210px;
        height: 100%;
        --items: 2;

        @include respond-to('medium') {
            --items: 3;
            width: 226px;
            }
        
        @include respond-to('large') {
            --items: 6;
            width: 170px;
        }    
        }
    
    &__link:hover,
    &__link:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
        }
    
    &__icon {
        fill: currentColor;
        }
    
    
    &__link {
        height: 92px;
        display: flex;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        contain: content;
        border: 1px solid var(--secondary-title-text-color);
        border-radius: 4px;
        color: var(--secondary-title-text-color);
    
        transition: var(--timing-text-color), var(--timing-backgraund-color);
        }
}
.clients__title {
    margin-bottom: 30px;

    @include respond-to('large') {
            margin-bottom: 50px;
        }
    
}
