.about-feature {
    margin: -15px;
}

.benefits {
    --items: 1;
    @include respond-to('medium') {
            --items: 2;
        }

    @include respond-to('large') {
        --items: 4;
    }
    
}