/* hero */
.hero {
    text-align: center;
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--section-background-colour);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-title {
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: 237px;
        margin-right: 237px;
        letter-spacing: 0.06em;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color: var(--main-page-color);
        text-transform: uppercase;
        }
}

