/* section our team */
.team {
    background: var(--secondary-backgraund-color);

    &__card {
        background: var(--main-page-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        width: 270px;
        --items: 4;
        }
    
    &__desc {
        padding-top: 30px;
        padding-bottom: 30px;
    
        }
    
    &__name {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        }
    
    &__post {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        }

}

