/* button */
.btn {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-page-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    &--order {
        display: inline-block;
        transition: var(--timing-backgraund-color), var(--timing-text-color)
        }
    
    &--order:hover,
    &--order:focus,
    &--modal:focus,
    &--modal:hover {
        background-color: var(--hero_btn-backgraund-color);
        border: transparent;
        }
    
    &--sabmit {
        display: flex;
        width: 200px;
        height: 50px;
        padding-top: 10px;
        padding-right: 28px;
        padding-bottom: 10px;
        padding-left: 29px;
        margin: 0;
        
        background: var(--accent-color);
        color: var(--main-page-color);
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        border: transparent;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        }
    
    &__icon {
        margin-left: 12px;
        }
    
    &--modal {
        margin-left: 165px;
        outline: var(--accent-color);
        transition: var(--timing-backgraund-color);
        }
}

/* portfolio radio buttons */

.btn-radio {
    list-style: none;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    padding-left: 0;

    &__control {
        display: inline-block;
        margin-right: 8px;
        }
}


.btn-radio__list {
    font-family: inherit;
    font-style: normal;
    padding: 6px 22px;
    min-width: 73px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--secondary-backgraund-color);
   
    transition: var(--timing-text-color), var(--timing-backgraund-color);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--main-page-color);
        }
}



.btn-radio__list--current {
    transition: var(--timing-text-color), var(--timing-backgraund-color), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--accent-color);
    color: var(--main-page-color);
    border: none;
  
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--main-page-color);
        border: none;
    
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}
