/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);

    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--timing-transform) visibility var(--timing-transform);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    background-color: var(--main-page-color);
    padding: 0;
    margin: 0;

    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-50%, 50%);
    
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 0;
    
        background-color: var(--main-page-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
        border-radius: 50%;
        cursor: pointer;
        }
    
    &__hero-form {
        width: 528px;
        height: 581px;
        }
    
  
    &__title {
        display: block;
        width: 448px;
        margin-top: 40px;
        margin-bottom: 12px;
        margin-left: 40px;
    
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        }
    
    &__inputs {
        display: flex;
        flex-direction: column;
        position: relative;
    
        padding: 0;
        margin-left: 40px;
        margin-right: 40px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--title-text-color);
        }
    
    &__inputs:not(:last-child) {
        margin-bottom: 10px;
        }
    
    
    &__inputs label {
        margin-bottom: 4px;
        }
    
    &__inputs textarea {
        margin: 0;
        padding: 0;
        width: 448px;
        height: 120px;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
    
        }
    
    &__icon {
        position: absolute;
        margin: 11px 12px;
        padding: 0;
    
        transform: translateY(100%);
        transition: var(--timing-transform);
        }
    
    &__for-input {
        padding-top: 12px;
        padding-right: 10px;
        padding-bottom: 12px;
        padding-left: 42px;
        width: 448px;
        height: 40px;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: transparent;
    
        transition: var(--timing-transform);
    
        }
    
    &__for-input:focus,
    &__hiro-textarea:focus {
         border-color: var(--accent-color);
        }
    
    &__for-input:focus~.modal__icon {
        fill: var(--accent-color);
    
        }
    
    &__hiro-textarea {
        outline: transparent;
        resize: none;
    
        }
    
    &__inputs>.modal__hiro-textarea {
        padding: 12px 16px;
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
    
        }
}

.modal__close-icon {
    .modal__close-btn:hover > &,
    .modal__close-btn:focus> & {
        fill: var(--accent-color);
        transition: var(--timing-transform);
    }
}

.contract {
    color: var(--accent-color);
    text-decoration: underline;
}

.modal-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 30px;
    width: 425px;
    height: 24px;
    margin-left: 52px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    cursor: pointer;


    &__custom {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    
        width: 16px;
        height: 15px;
        margin-right: 6px;
        outline: 2px solid var(--primary-text-color);
        outline-offset: -2px;
        border-radius: 2px;
    
        transition: var(--timing-backgraund-color);
        }    
    &__icon {
        fill: var(--main-page-color);    
        }
    
    &__input:checked + &__custom {
        background-color: var(--accent-color);
        outline: var(--accent-color);  
        }
    
    &__input:focus+&__custom {
        outline: 2px solid var(--accent-color);
        outline-offset: -2px;
        border-radius: 2px;    
        }
    
    &__agreement {
        user-select: none;    
        }
}