/* logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;    
    color: var(--accent-color);
    transition: var(--timing-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &__dark {
        color: var(--text-color-logo);
    }

    &__light {
        color: var(--main-page-color);
    }
}

.header-logo {
    @include respond-to('medium') {
          margin-right: 93px;          
        }
    }

.footer-logo {
    margin-bottom: 20px;
}