/* logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    transition: var(--timing-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &__dark {
        color: var(--text-color-logo);
    }

    &__light {
        color: var(--main-page-color);
    }
}

.header-logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-logo {
    margin-bottom: 20px;
}